html {
  font-size: 1em;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.45;
  color: #002240;
  background: #FAFAF8;
  overflow-x: hidden;
  height: 100%;
}

/*
* === TYPOGRAPHY ===
*/

p {
  margin-bottom: 1.3em;
  color: rgba(0, 34, 64, .5);
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.414em 0 0.5em;
  font-weight: 800;
  line-height: 1.45;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

h5 {font-size: 1.125em;}

small, .font_small {font-size: 0.833em;}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.list-item__check {
  margin-bottom: 2rem;
  background: url('/img/list-item__check.svg') no-repeat left center;
  padding: 3px 0px 3px 37px;
}

/*
* === GLOBAL ===
*/

.bg {
  position: relative;
  z-index: 0;
}

/*
* — Header —
*/

.header {
  position: relative;
  background: rgba(255,255,255,0.80);
  padding: 20px 0;
}

.header__link {
  margin-left: 2rem;
}

.header__link,
.header__link:visited,
.header__link:active {
  color: #002240;
}

.header__link.header__link--active {
  font-weight: 700;
}

.header__btn.btn {
  margin-bottom: 0;
  padding: 0.15rem 3rem;
  line-height: 3rem;
  font-size: 1rem;
  color: #F5735B;
}

@media (max-width: 576px) {
  .header__link {
    margin-left: 0;
  }
}

/*
* — Hero —
*/

.hero__background {
  position: absolute;
  right: 0;
  height: 756px;
}

.hero {
  margin-top: 80px;
}

.how-hero__background {
  position: absolute;
  right: 0;
  height: 756px;
}

@media (max-width: 992px) {
  .hero__background {
    opacity: 0;
  }
  .hero {
    text-align: center;
    margin-top: 20px;
  }
}

/*
* — Brief —
*/

.brief {
  margin-top: 330px;
}

.brief__background {
  margin-top: 260px;
  position: absolute;
  left: -100px;
  height: 756px;
}

@media (max-width: 576px) {
  .brief__background {
    margin-top: 0;
    width: 100%;
    height: auto;
    left: 0;
  }
  .brief {
    margin-top: 380px;
    text-align: center;
  }
  .brief ul {
    text-align: left;
  }
}

/*
* — Slick Carousel overrides —
*/

.slick-track {
  padding-top: 20px;
  padding-bottom: 20px;
}

.slick-list {
  outline: none;
}

.slick-slide {
  outline: none !important;
}

.slick-slide:focus {
  outline: none;
}

.slick-slide:not(.slick-current):hover {
  cursor: pointer;
}

.slick-dotted.slick-slider {
  margin-bottom: 0!important;
}

.slick-dots {
  width: auto!important;
  display: inline-block!important;
}

.slick-dots li {
  margin: 0!important;
}

.slick-dots li button:before {
  font-size: 8px!important;
  color: #F5735B;
}

.slick-dots li.slick-active {
  width: 34px!important;
}

.slick-dots li.slick-active button {
  width: 34px!important;
}

.slick-dots li.slick-active button:before {
  content: ''!important;
  border: 1px solid #F5735B;
  background: #F5735B;
  border-radius: 10px;
  height: 8px;
  width: 24px;
  margin-top: 5px;
  margin-left: 5px;
}

.slick__next,
.slick__prev {
  font-size: 0.8rem;
  color: rgba(0,0,0,0.35);
  position: relative;
  top: 23px;
}

.testimonials__nav .slick__prev {
  left: -70px;
}

.testimonials__nav .slick__next {
  left: 43px;
}

.researchers__nav .slick__prev {
  left: -90px;
}

.researchers__nav .slick__next {
  left: 63px;
}

.slick__prev:hover,
.slick__next:hover {
  cursor: pointer;
  color: #F5735B;
}

/*
* — Testimonials —
*/

.testimonials {
  margin-top: 260px;
}

.testimonials__container {
  position: relative;
}

.testimonials__nav {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.testimonial {
  position: relative;
  width: 100vw;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0 4px 14px 0 rgba(0,34,64,0.20);
  border-radius: 10px;
  margin: 0 10px;
  opacity: 1;
  transition: all .4s ease-in-out;
}

.testimonial:not(.slick-center) {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0.4;
}

.testimonial__image {
  width: 100%;
  height: 458px;
  position: absolute;
  top: -300px;
  border-radius: 10px 10px 0 0;
}

.testimonial__body {
  margin: 142px 10px 10px 10px;
}

.testimonial__avatar {
  border-radius: 50px;
  max-height: 50px;
  max-width: 50px;
  margin-right: 10px;
}

.testimonial__name {
  font-weight: 600;
  font-size: 24px;
}

.testimonial__location {
  opacity: 0.5;
}
.testimonial__specialty {
  display: inline-block;
  background: rgba(62,102,134,0.07);
  padding: 0.2rem 0.6rem;
  margin-bottom: 0.25rem;
  border-radius: 100px;
}

@media (max-width: 576px) {
  .testimonials {
    margin-top: 20px;
  }
  .testimonial:not(.slick-center) {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .testimonial {
    min-height: 458px;
    width: 825px;
  }
  .testimonial__image {
    position: relative;
    top: inherit;
    width: 324px;
    height: 458px;
    border-radius: 10px 0 0 10px;
  }
  .testimonial__trace {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
  }
  .testimonial__body {
    margin: 0 30px;
  }
  .testimonial__quote {
    position: relative;
    background: rgba(62,102,134,0.07);
    padding: 20px;
    border-radius: 10px;
  }
  .testimonial__quote:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(62,102,134,0.07);
    left: 16px;
    bottom: -10px;
  }
}

/*
* — Stuck —
*/

.stuck {
  margin-top: 560px;
}

.stuck__background {
  margin-top: 260px;
  position: absolute;
  left: -100px;
  height: 756px;
}

@media (max-width: 576px) {
  .stuck__background {
    margin-top: 80px;
    width: 100%;
    height: auto;
    left: 0;
  }
  .stuck {
    margin-top: 510px;
  }
}

/*
* — Process —
*/

.process__path {
  position: absolute;
  width: 100%;
}

.process__card {
  padding: 25px 25px;
  background: rgba(255,255,255,0.65);
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
  border-radius: 20px;
}

.process__title {
  display: block;
  margin-bottom: 14px;
  font-weight: 600;
}

.process_desc {
  display: block;
  color: #7E8F9D;
}

.process__dot {
  position: absolute;
}

@media (max-width: 576px) {
  .process {
    text-align: center;
  }
  .process__path {
    display: none;
  }
  .process__dot {
    display: none;
  }
}

@media (min-width: 992px) {

  .process {
    margin-top: 400px;
  }

  .process__research {
    margin-top: 80px;
  }

  .process__dot--one {
    left: 0;
    top: 48px;
  }

  .process__dot--two {
    left: 0;
    top: 93px;
  }

  .process__dot--three {
    left: 0;
    top: 45px;
  }

  .process__dot--four {
    right: 0;
    top: 83px;
  }

  .process__dot--five {
    left: 22px;
    top: -10px;
  }

  .process__dot--six {
    right: 145px;
    bottom: -15px;
  }

}

/*
* — Wasted? —
*/

.wasted {
  margin-top: 360px;
}

.wasted__background {
  margin-top: 260px;
  position: absolute;
  right: -100px;
  height: 600px;
}

.wasted__link,
.wasted__link:hover,
.wasted__link:visited,
.wasted__link:active {
  text-decoration: underline;
  color: #7E8F9D;
}

@media (max-width: 576px) {
  .wasted__background {
    margin-top: 20px;
    width: 100%;
    height: auto;
    right: 0;
  }
  .wasted {
    text-align: center;
  }
  .wasted .btn {
    padding: .375rem 2rem;
  }
}

/*
* — Network —
*/

.network {
  margin-top: 260px;
}

.network__list {
  list-style: none;
  margin-top: 60px;
  margin-left: 0;
  padding-left: 0;
}

.network__list-item {
  margin-bottom: 2rem;
  padding: 20px 0 0 65px;
  min-height: 65px;
}

.network__list-item--application {
  background: url('/img/network__list-image--application.svg') no-repeat left center;
}

.network__list-item--verified {
  background: url('/img/network__list-image--verified.svg') no-repeat left center;
}

.network__list-item--review {
  background: url('/img/network__list-image--review.svg') no-repeat left center;
}

.network__faces {
  position: relative;
  top: 40px;
  min-height: 450px;
}

.network__face {
  position: absolute;
  border-radius: 100px;
  width: 90px;
  height: 90px;
}

.network__face--one {
  top: 8%;
  left: 5%;
  animation: network__faces--animation 45s ease-in-out infinite;
  -webkit-animation: network__faces--animation 45s ease-in-out infinite;
}

.network__face--two {
  top: 0;
  left: 35%;
  animation: network__faces--animation-two 40.5s ease-in-out infinite;
  -webkit-animation: network__faces--animation-two 40.5s ease-in-out infinite;
}

.network__face--three {
  top: 19%;
  right: 25%;
  animation: network__faces--animation 42.5s ease-in-out infinite;
  -webkit-animation: network__faces--animation 42.5s ease-in-out infinite;
}

.network__face--four {
  top: 3%;
  right: 0;
  animation: network__faces--animation-two 41.5s ease-in-out infinite;
  -webkit-animation: network__faces--animation-two 41.5s ease-in-out infinite;
}

.network__face--five {
  top: 40%;
  left: 10%;
  animation: network__faces--animation 41s ease-in-out infinite;
  -webkit-animation: network__faces--animation 41s ease-in-out infinite;
}

.network__face--six {
  top: 30%;
  left: 35%;
  animation: network__faces--animation-two 40.5s ease-in-out infinite;
  -webkit-animation: network__faces--animation-two 40.5s ease-in-out infinite;
}

.network__face--seven {
  top: 50%;
  right: 32%;
  animation: network__faces--animation 44.5s ease-in-out infinite;
  -webkit-animation: network__faces--animation 44.5s ease-in-out infinite;
}

.network__face--eight {
  top: 40%;
  right: 0;
  animation: network__faces--animation-two 43.5s ease-in-out infinite;
  -webkit-animation: network__faces--animation-two 43.5s ease-in-out infinite;
}

.network__face--nine {
  bottom: 12%;
  left: 29%;
  animation: network__faces--animation 41.5s ease-in-out infinite;
  -webkit-animation: network__faces--animation 41.5s ease-in-out infinite;
}

.network__face--ten {
  bottom: 8%;
  left: 25%;
  animation: network__faces--animation-two 42.5s ease-in-out infinite;
  -webkit-animation: network__faces--animation-two 42.5s ease-in-out infinite;
}

.network__face--eleven {
  bottom: 8%;
  right: 15%;
  animation: network__faces--animation 44.5s ease-in-out infinite;
  -webkit-animation: network__faces--animation 44.5s ease-in-out infinite;
}

.network__face--twelve {
  bottom: 5%;
  right: 0;
  animation: network__faces--animation-two 41.5s ease-in-out infinite;
  -webkit-animation: network__faces--animation-two 41.5s ease-in-out infinite;
}

@keyframes network__faces--animation {
    0% {
        transform: scale(0.7);
        filter: blur(2px);
    }
    20% {
        filter: blur(0);
    }
    50% {
        transform: scale(1.2);
        filter: blur(0);
    }
    80% {
        filter: blur(0);
    }
    100% {
        transform: scale(0.7);
        filter: blur(2px);
    }
}

@keyframes network__faces--animation-two {
    0% {
        transform: scale(1.2);
        filter: blur(0);
    }
    20% {
        filter: blur(0);
    }
    50% {
        transform: scale(0.7);
        filter: blur(2px);
    }
    80% {
        filter: blur(0);
    }
    100% {
        transform: scale(1.2);
        filter: blur(0);
    }
}

@media (max-width: 576px) {
  .network {
    margin-top: 50px;
  }
  .network__list {
    margin-top: 10px;
  }
  .network__faces {
    display: none;
  }
}

/*
* — Map —
*/

.map {
  margin-top: 510px;
}

.map__map {
  position: absolute;
  width: 100%;
  top: -10px;
  right: -1170px;
  transition: all 1.4s cubic-bezier(0.5,0.25,0,1);
  transform: scale(2.5) rotate(-19deg);
}

.z-0 {
  z-index: 0;
}

.z-1 {
  position: relative;
  z-index: 1;
}

@media (max-width: 576px) {
  .map {
    margin-top: 30px;
  }
  .map__map {
    display: none;
  }
}

.researchers {
  /*margin-top: 260px;*/
}

.researchers__nav {
  position: relative;
  top: -25px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.researcher {
  position: relative;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
  border-radius: 20px;
  padding: 20px;
}

.researcher__image {
  width: 72px;
  height: 72px;
  border-radius: 50px;
  position: absolute;
}

.researcher__name {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 82px;
  font-weight: 600;
}

.researcher__country {
  display: block;
  padding-left: 82px;
  margin-bottom: 10px;
  color: #AEB8BF;
}

.researcher__bio {
  padding-left: 82px;
  margin-bottom: 0;
}

/*
* — Help —
*/

.help {
  margin-top: 180px;
}

@media (max-width: 576px) {
  .help {
    margin-top: 50px;
  }
  .help .btn {
    padding: .375rem 2rem;
  }
}

/*
* — Stats —
*/

.stats {
  margin-top: 120px;
}

.stat {
  background: #FFFFFF;
  box-shadow: 0 4px 14px 0 rgba(0,34,64,0.20);
  border-radius: 10px;
  text-align: center;
  padding: 2rem 0.5rem;
}

.stat__metric {
  margin-top: 10px;
  margin-bottom: 0;
}

.stat__label {
  font-size: 16px;
  font-weight: 400;
  color: #82909E;
}

@media (max-width: 576px) {
  .stats {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
}

/*
* — Researcher CTA —
*/

.researcher-cta {
  margin-top: 280px;
}

.researcher-cta__background {
  position: absolute;
  top: 180px;
  right: -350px;
  height: 588px;
}

@media (max-width: 576px) {
  .researcher-cta {
    margin-top: 30px;
    text-align: center;
  }
  .researcher-cta__background {
    position: absolute;
    top: 360px;
    right: 0;
    width: 100%;
    height: auto;
  }
}

/*
* — Different —
*/

.different {
  margin-top: 280px;
}

.different__traditional {
  position: relative;
  right: -15px;
  top: 35px;
  padding: 15px 0 0 0;
  color: #002240;
  background: rgba(255,255,255,0.50);
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
  border-radius: 10px 0 0 10px;
}

.different__trace {
  padding-top: 40px;
}

.different__traditional--title {
  font-weight: 500;
  opacity: 0.4;
  margin-bottom: 34px;
}

.different__text {
  margin: 0 -15px;
  padding: 1rem 0;
}

.different__text--trace {
  color: #fff;
}

.different__text--traditional {
  padding: 0.8rem 0;
  margin: 0.4rem 0;
}

.different__highlight--traditional {
  margin: 0.4rem 0;
  background: rgba(235,223,199,0.4);
}

.different__highlight--trace {
  background: rgba(255,255,255,0.2);
}

.different__trace {
  background: #F5735B;
  box-shadow: 0 14px 20px 0 rgba(0,0,0,0.10);
  border-radius: 30px;
}

@media (max-width: 576px) {
  .different {
    margin-top: 340px;
    text-align: center;
  }
}

/*
* — Footer —
*/

footer {
  background: #002240;
  color: #fff;
}

.footer__background {
  position: relative;
  left: -1px;
  bottom: -2px;
  width: 102%;
  margin-top: 120px;
}

.footer__logo {
  opacity: 0.3;
  height: 30px;
  margin: 2rem 0 4rem 0;
}

.footer__title {
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.footer__list-item {
  margin-bottom: 0.8rem;
}

.footer__link {
  font-weight: 400;
  color: rgba(255,255,255,0.5);
}

.footer__text {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(255,255,255,0.3);
}

/*
* — How It Works —
*/

.how-it-works {
  margin-top: 200px;
}

.how-it-works__row {
  margin-top: 80px;
  margin-bottom: 80px;
}

.how-it-works__time {
  display: inline-block;
  padding: 8px 18px 8px 38px;
  border-radius: 50px;
  background: url('/img/how-it-works__time.svg') 12px center / 20px 20px no-repeat;
  font-size: 0.875rem;
  color: rgba(0, 34, 64, .4);
  background-color: rgba(0, 34, 64, .05)
}

.how-it-works__step {
  font-size: 1.2rem;
  font-weight: 600;
  color: #002240;
}

.how-it-works__step--number {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #F5735B;
  border-radius: 50px;
  font-weight: 700;
  color: #fff;
}

.how-it-works_desc {
  display: block;
  font-size: 1rem;
  color: #7E8F9D;
}

.how-it-works__background--one {
  position: absolute;
  top: 180px;
  right: -350px;
  height: 588px;
}

.how-it-works__background--two {
  position: absolute;
  top: 180px;
  right: -350px;
  height: 588px;
}

/*
* — FAQ —
*/

.categories__heading {
  margin-top: 0;
  font-weight: 400;
  color: rgba(0,34,64,0.4);
  border-bottom: 1px solid rgba(0,34,64,0.1);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.faq__question {
  font-weight: 700;
  color: rgba(0,34,64,1);
}

.faq__answer {
}

.categories__list--item {
  margin-bottom: 1rem;
}

.categories__list--link,
.categories__list--link:active,
.categories__list--link:hover,
.categories__list--link:visited {
  color: #F5735B;
}

.categories__list--active {
  font-weight: 700;
}


@media (min-width: 992px) {

}

/*
* === BUTTONS ===
*/

.btn {
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  line-height: 56px;
  margin-bottom: 1rem;
  padding: .375rem 4rem;
}

.btn-primary {
  background: #F5735B;
  background-image: linear-gradient(-180deg, #EFD7C0 0%, rgba(255,255,255,0.00) 100%);
  box-shadow: 0 6px 14px 0 rgba(245,115,91,0.30);
  color: #FFFFFF;
  border-color: transparent;
  border: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn-primary:hover {
  background: #F5735B;
  background-image: linear-gradient(-180deg, #EFD7C0 0%, rgba(255,255,255,0.00) 100%);
  border-color: #F5735B;
  box-shadow: 0 14px 28px rgba(245,115,91,0.25), 0 10px 10px rgba(245,115,91,0.22);
}

.btn-outline-primary {
  color: #F5735B;
  border-color: #F5735B;
}

.btn-outline-primary:hover {
  background-color: #F5735B;
  border-color: #F5735B;
}

.btn-secondary {
  background: #002240;
  color: #fff;
  border-color: #002240;
  box-shadow: 0 6px 14px 0 rgba(8,19,31,0.20);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn-secondary:hover {
  background-color: #002240;
  border-color: #002240;
  box-shadow: 0 14px 28px rgba(8,19,31,0.25), 0 10px 10px rgba(8,19,31,0.22);
}

.btn-outline-secondary {
  color: #08131F;
  border-color: #08131F;
}

.btn-outline-secondary:hover {
  background-color: #08131F;
  border-color: #08131F;
}